:root{
    --primary-font: font-family: 'Poppins', sans-serif;;
    --secondary-font: font-family: 'Radio Canada', sans-serif;;
    --primary-color: rgba(120, 121, 241, 1);
    --secondary-color: rgba(165, 166, 246, 1);
}

body{
    background: url(/assets/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    background: linear-gradient(106.6deg, rgba(19, 8, 42, 0.32) 1.44%, rgba(126, 126, 126, 0) 108.41%);
    color: white;
}

ul{
    list-style: none;
}

nav h1{
    font-weight: 900;
    font-size: 27.05px;
}